h1, h2, h3, h4, h5, h6, ul, ol, table, p, .grid, details, label, button, .button, .block, hr {
  margin-bottom: var(--gap);
}

:is(h1, h2, h3, h4, h5, h6, ul, ol, table, p, .grid, details, label, button, .button, hr):last-child {
  margin-bottom: 0;
}

.block {
  display: block;
}
