body {
  font-family: var(--font-stack);
}
* {
  letter-spacing: 0.5px;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
