body {
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
  --gap: 1rem;
  --max-col-width: 240px;
  --max-page-width: 640px;
  --border-color: rgba(0, 0, 0, 0.1);
  --border-radius: 0.5rem;
  --background-color: #fafafa;
  --foreground-color: #565656;
  --shade-fg: #999;
  --card-color: white;
  --card-border-color: var(--border-color);
  --transition: 0.2s ease;
  --sidebar-width: 160px;
  --shade-bg: rgba(0, 0, 0, 0.05);
  --nav-height: 60px;
  --primary: #bc65df;
  --alert: #f9ceda;
  --notice: #d5e2f9;
}

body.dark {
  --border-color: rgba(255, 255, 255, 0.3);
  --background-color: #333;
  --foreground-color: #fafafa;
  --card-color: #222;
  --card-border-color: #222;
  --shade-bg: rgba(255, 255, 255, 0.1);
}
