<script>
  import '../styles/blossom/blossom.css'
  import '../styles/application.css'
  import { SvelteToast } from '@zerodevx/svelte-toast'
  import Menu from '$lib/components/Menu.svelte'
</script>

<main>
  <SvelteToast options={{ intro: { y: -192 } }} />
  <Menu />
  <slot />
</main>

<style>
  main {
    --toastContainerTop: var(--gap);
    --toastContainerRight: auto;
    --toastContainerBottom: auto;
    --toastContainerLeft: calc(50vw - 8rem);
    --toastBarBackground: var(--primary);
    --toastBorderRadius: var(--border-radius);
    --toastBackground: var(--card-color);
    --toastColor: var(--foreground-color);
    --toastBoxShadow: none;
    --toastBorder: 1px solid var(--card-border-color);
    --toastPadding: var(--gap);
    --toastMinHeight: 0;
    --toastMsgPadding: 0;
    --toastBarHeight: 2px;

    min-height: 100vh;
    display: flex;
    align-items: center;
  }
</style>
