details {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--gap);
}
details:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
details[open] summary {
  margin-bottom: var(--gap);
}
summary {
  cursor: pointer;
}
summary:focus {
  outline: none;
}
blockquote {
  margin: 0;
  border-left: 1px solid var(--border-color);
  padding-left: var(--gap);
}
