input:not([type="checkbox"]):not([type="submit"]), textarea, select, trix-editor {
  -webkit-appearance: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-size: 1rem;
  padding: calc(var(--gap) / 2) var(--gap);
  margin-top: calc(var(--gap) / 2);
  width: 100%;
  background-color: var(--card-color);
  color: var(--foreground-color);
}
:is(input:not([type="checkbox"]):not([type="submit"]), textarea, select, trix-editor):focus {
  outline: none;
  border-color: var(--primary);
}
label, input, textarea, select {
  display: block;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="checkbox"] {
  display: inline-block;
  visibility: hidden;
  position: relative;
  margin-right: calc(var(--gap) / 2);
  margin-top: 0;
  width: auto;
  cursor: pointer;
}
input[type="checkbox"]::before, input[type="checkbox"]::after {
  content: '';
  position: absolute;
  visibility: visible;
  left: 0;
  top: calc(var(--gap) * -0.2);
  width: calc(var(--gap) * 1.2);
  height: calc(var(--gap) * 1.2);
}
input[type="checkbox"]::before {
  border: 1px solid var(--border-color);
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--card-color);
}
input[type="checkbox"]:checked::before {
  background-color: var(--primary);
  border-color: var(--primary);
}
input[type="checkbox"]:checked::after {

}
trix-toolbar .trix-button-group:not(:first-child) {
  margin-left: 1rem;
}

