.modal {
  pointer-events: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal > * {
  z-index: 1;
  margin: auto;
}
.modal.open {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: var(--gap);
}
.modal::before {
  z-index: -1;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
