nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  background-color: var(--background-color);
  z-index: 1;
  padding: calc(var(--gap) / 2);
}
nav ~ main {
  margin-top: var(--nav-height);
}
