[data-tooltip] {
  position: relative;
  z-index: 2;
  display: inline-block;
}

[data-tooltip]:before {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .2s ease-out;
  transform: translate(-50%, var(--gap))
}

[data-tooltip]:before {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: calc(var(--gap) / 2);
  width: 100%;
  min-width: 7rem;
  max-width: 10rem;
  border-radius: var(--border-radius);
  background-color: var(--foreground-color);
  color: var(--background-color);
  content: attr(data-tooltip);
  text-align: center;
  transition: var(--transition)
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0)
}
