button svg {
  vertical-align: middle;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-default {
  cursor: default;
}

body {
  --perfect: #8ac87b;
  --correct: #e2c636;
}

body.dark {
  --perfect: #78b06a;
  --correct: #b3a352;
}

.alphabet.qwerty {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}
.alphabet.qwerty .letter-block:nth-child(19) {
  grid-column: span 2;
}
.alphabet .hide {
  display: none;
}
.alphabet.qwerty .hide {
  color: var(--border-color);
  display: inline-block;
}

.letter-block {
  display: inline-block;
  font-size: 1.4rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: var(--border-radius);
  line-height: 2.4rem;
  text-align: center;
  margin: calc(var(--gap) / 4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.letter-block.highlight {
  background-color: var(--shade-bg);
}
.letter-block.perfect {
  background-color: var(--perfect);
}
.letter-block.correct {
  background-color: var(--correct);
}
div.modal.open {
  padding-top: 5rem;
}
.toggle > button {
  background-color: var(--background-color);
}
