<script>
  import { letterOrder } from '$lib/stores/settings'
  import { guesses } from '$lib/stores/game'
  import { word } from '$lib/stores/word'

  $: alphabet = $letterOrder === 'qwerty' ? 'qwertyuiopasdfghjklzxcvbnm'.split('') : 'abcdefghijklmnopqrstuvwxyz'.split('')
  $: guessedLetters = [...new Set($guesses.join('').split(''))]
</script>

<div class="alphabet {$letterOrder}">
  {#each alphabet as letter}
    {#if guessedLetters.includes(letter)}
      {#if $word.includes(letter)}
        <span class="letter-block highlight">{letter}</span>
      {:else}
        <span class="letter-block hide">{letter}</span>
      {/if}
    {:else}
      <span class="letter-block">{letter}</span>
    {/if}
  {/each}
</div>
