<script>
  import { onMount } from 'svelte'

  import { numberOfGuesses, wordLength, answerWordListSize, guessWordListSize } from '$lib/stores/settings'
  import { addStatistic } from '$lib/stores/statistics'
  import { guesses, endGame, newGame } from '$lib/stores/game'
  import { word } from '$lib/stores/word'

  import LetterGrid from './LetterGrid.svelte'
  import Alphabet from './Alphabet.svelte'
  import GuessForm from './GuessForm.svelte'
  import GameOver from './GameOver.svelte'

  let hasWon = false
  let hasLost = false

  $: {
    const oldHasWon = hasWon
    hasWon = $guesses.includes($word)
    if(hasWon && !oldHasWon) win()
  }
  $: {
    const oldHasLost = hasLost
    hasLost = !hasWon && $guesses.length >= $numberOfGuesses
    if(hasLost && !oldHasLost) lose()
  }

  const win = () => {
    addStatistic(true)
    endGame()
  }
  const lose = () => addStatistic(false)

  onMount(newGame)
  const settingsToRestart = [numberOfGuesses, wordLength, answerWordListSize, guessWordListSize]
  settingsToRestart.forEach(v => v.subscribe(newGame))
</script>

<div class="container text-center">
  {#if !hasLost && !hasWon}
    <Alphabet />
    <hr>
  {/if}

  <LetterGrid />

  {#if $guesses.length}
    <hr>
  {/if}

  {#if !hasLost && !hasWon}
    <GuessForm />
  {:else}
    <GameOver />
  {/if}
</div>
