<script>
  import { getDefinitions, word } from '$lib/stores/word'
  import { newGame } from '$lib/stores/game'
  import RestartIcon from '$lib/icons/refresh-cw.svg'
</script>

<h3>{$word}</h3>
<div class="block">
  {#await getDefinitions()}
    <p>Loading definitions...</p>
  {:then definitions}
    {#each definitions as definition}
      <p>{definition}</p>
    {/each}
  {/await}

</div>
<button on:click={newGame}>
  <RestartIcon />
  Restart
</button>
