<script>
  import pushToast from '$lib/services/toast'
  import { word, isGuessInList } from '$lib/stores/word'
  import { guesses } from '$lib/stores/game'
  import { numberOfGuesses } from '$lib/stores/settings'

  let value = ''

  $: isValid = $word.length === value.length

  function keypress(e) {
    if(e.charCode === 13) submit()
  }

  function submit() {
    if(!isValid) return pushToast(`Must be ${$word.length} letters long`)
    const guess = value.toLowerCase()
    if(!isGuessInList(guess)) return pushToast(`Not in word list`)
    guesses.update(g => [...g, guess])
    value = ''
  }
</script>

<p class="disable-select cursor-default">{$guesses.length + 1} / {$numberOfGuesses}</p>
<input class="text-center" bind:value on:keypress={keypress}>
