<script>
  import { fly } from 'svelte/transition'
  import { guesses } from '$lib/stores/game'
  import { word } from '$lib/stores/word'
</script>

<div class="block">
  {#each $guesses as guess}
    {#if guess}
      <div>
        {#each guess.split('') as letter, index}
            {#if $word.split('')[index] === letter}
              <span transition:fly={{ delay: (50 * index) + 300, y: -20, opacity: 0 }} class="letter-block perfect">{letter}</span>
            {:else if $word.includes(letter)}
              <span transition:fly={{ delay: (50 * index) + 150, y: -20, opacity: 0 }} class="letter-block correct">{letter}</span>
            {:else}
              <span transition:fly={{ delay: (50 * index), y: -20, opacity: 0 }} class="letter-block">{letter}</span>
            {/if}
        {/each}
      </div>
    {/if}
  {/each}
</div>
