<script>
  import { onMount } from 'svelte'
  import Settings from '$lib/components/Settings.svelte'
  import Statistics from '$lib/components/Statistics.svelte'
  import { guesses, endGame } from '$lib/stores/game'
  import { isDark, numberOfGuesses } from '$lib/stores/settings'
  import { dataByRoundsByNumberOfLetters } from '$lib/stores/statistics'
  import SunIcon from '$lib/icons/sun.svg'
  import MoonIcon from '$lib/icons/moon.svg'
  import FlagIcon from '$lib/icons/flag.svg'
  import CloseIcon from '$lib/icons/x.svg'
  import SettingsIcon from '$lib/icons/settings.svg'
  import ChartIcon from '$lib/icons/bar-chart.svg'

  let isSettingsOpen = false
  let isStatisticsOpen = false

  $: areStatisticsPresent = !!Object.values($dataByRoundsByNumberOfLetters).length

  function toggleDarkMode() {
    isDark.update(d => !d)
    updateDarkModeClass()
  }

  function updateDarkModeClass() {
    document.body.classList.toggle('dark', $isDark)
  }

  onMount(updateDarkModeClass)
</script>

<Settings open={isSettingsOpen} on:close={() => isSettingsOpen = false} />
<Statistics open={isStatisticsOpen} on:close={() => isStatisticsOpen = false} />
<div class="toggle">
  {#if !isStatisticsOpen && !isSettingsOpen}
    {#if $guesses.length !== $numberOfGuesses && $guesses.length !== 0}
      <button data-tooltip="Give up" on:click={endGame}>
        <FlagIcon />
      </button>
    {/if}
    <button data-tooltip={$isDark ? 'Light mode' : 'Dark mode' } on:click={toggleDarkMode}>
      {#if $isDark}
        <SunIcon />
      {:else}
        <MoonIcon />
      {/if}
    </button>
  {/if}
  {#if !isSettingsOpen && areStatisticsPresent}
    <button data-tooltip={isStatisticsOpen ? 'Close' : 'Statistics'} on:click={() => isStatisticsOpen = !isStatisticsOpen}>
      {#if isStatisticsOpen}
        <CloseIcon />
      {:else}
        <ChartIcon />
      {/if}
    </button>
  {/if}
  {#if !isStatisticsOpen}
    <button data-tooltip={isSettingsOpen ? 'Close' : 'Settings'} on:click={() => isSettingsOpen = !isSettingsOpen}>
      {#if isSettingsOpen}
        <CloseIcon />
      {:else}
        <SettingsIcon />
      {/if}
    </button>
  {/if}
</div>

<style>
  .toggle {
    position: absolute;
    top: var(--gap);
    left: 50%;
    transform: translateX(-50%);
  }
  .toggle button {
    border: none;
  }
</style>
