<script>
  import { createEventDispatcher } from 'svelte'
  import { numberOfGuesses, wordLength, answerWordListSize, guessWordListSize, letterOrder } from '$lib/stores/settings'
  import pushToast from '$lib/services/toast'
  import SaveIcon from '$lib/icons/save.svg'

  export let open = false

  let guessWordListSizeValue = $guessWordListSize
  let answerWordListSizeValue = $answerWordListSize
  let wordLengthValue = $wordLength
  let numberOfGuessesValue = $numberOfGuesses
  let letterOrderValue = $letterOrder

  const dispatch = createEventDispatcher()

  function isValid(callback, message) {
    if(callback()) {
      pushToast(message)
      return false
    }
    return true
  }

  function validate() {
    // Guess word list size
    if(!isValid(() => guessWordListSizeValue < 1, 'Guess word list size must be at least 1')) return false
    if(!isValid(() => typeof(guessWordListSizeValue) !== 'number', 'Guess word list size must be a number')) return false
    if(!isValid(() => parseInt(guessWordListSizeValue) !== guessWordListSizeValue, 'Guess word list size must be a whole number')) return false

    // Answer word list size
    if(!isValid(() => answerWordListSizeValue < 1, 'Answer word list size must be at least 1')) return false
    if(!isValid(() => typeof(answerWordListSizeValue) !== 'number', 'Answer word list size must be a number')) return false
    if(!isValid(() => parseInt(answerWordListSizeValue) !== answerWordListSizeValue, 'Answer word list size must be a whole number')) return false

    // Word length
    if(!isValid(() => wordLengthValue < 1, 'Word length must be at least 1')) return false
    if(!isValid(() => typeof(wordLengthValue) !== 'number', 'Word length must be a number')) return false
    if(!isValid(() => parseInt(wordLengthValue) !== wordLengthValue, 'Word length must be a whole number')) return false
    if(!isValid(() => wordLengthValue > 13, 'Word length must be at most 13')) return false

    // Number of guesses
    if(!isValid(() => numberOfGuessesValue < 1, 'Number of guesses must be at least 1')) return false
    if(!isValid(() => typeof(numberOfGuessesValue) !== 'number', 'Number of guesses must be a number')) return false
    if(!isValid(() => parseInt(numberOfGuessesValue) !== numberOfGuessesValue, 'Number of guesses must be a whole number')) return false

    pushToast('Settings saved')
    return true
  }

  function save() {
    if(!validate()) return
    guessWordListSize.set(guessWordListSizeValue)
    answerWordListSize.set(answerWordListSizeValue)
    wordLength.set(wordLengthValue)
    numberOfGuesses.set(numberOfGuessesValue)
    letterOrder.set(letterOrderValue)
    dispatch('close')
  }
</script>

<div class="modal" class:open>
  <div class="card">
    <label>
      Guess Word List Size
      <input type="number" bind:value={guessWordListSizeValue}>
    </label>
    <label>
      Answer Word List Size
      <input type="number" bind:value={answerWordListSizeValue}>
    </label>
    <label>
      Word length
      <input type="number" bind:value={wordLengthValue}>
    </label>
    <label>
      Number of guesses
      <input type="number" bind:value={numberOfGuessesValue}>
    </label>
    <label>
      Letter display
      <select bind:value={letterOrderValue}>
        <option>qwerty</option>
        <option>alphabetical</option>
      </select>
    </label>
    <button on:click={save}>
      <SaveIcon />
      Save
    </button>
  </div>
</div>
