<script>
  import { createEventDispatcher } from 'svelte'
  import { dataByRoundsByNumberOfLetters } from '$lib/stores/statistics'
  import pushToast from '$lib/services/toast'
  import ClearIcon from '$lib/icons/x-circle.svg'

  export let open = false

  const dispatch = createEventDispatcher()

  $: maxOutcome = Math.max(...[...Object.values($dataByRoundsByNumberOfLetters)].flatMap(outcomes => [...Object.values(outcomes)]))

  function clearStatistics() {
    dataByRoundsByNumberOfLetters.set({})
    pushToast('Statistics cleared')
    dispatch('close')
  }
</script>

<div class="modal" class:open>
  <div class="card">
    {#if Object.values($dataByRoundsByNumberOfLetters).length}
      {#each Object.entries($dataByRoundsByNumberOfLetters) as [ numberOfLetters, dataByRounds ]}
        <h4>{numberOfLetters} letters</h4>
        {#each Object.entries(dataByRounds) as [ numberOfRounds, numberOfOutcomes ]}
          <div class="block">
            <p>
              {#if numberOfRounds === 'loss'}
                Losses
              {:else}
                {numberOfRounds} rounds
              {/if}
              <span class="float-right">
                {numberOfOutcomes}
              </span>
            </p>
            <div class="bar">
              <div style="width: {(numberOfOutcomes / maxOutcome) * 100}%;"></div>
            </div>
          </div>
          {#if numberOfRounds !== Object.keys(dataByRounds)[Object.keys(dataByRounds).length - 1]}
            <hr>
          {/if}
        {/each}
      {/each}
      <button on:click={clearStatistics}>
        <ClearIcon />
        Clear
      </button>
    {/if}
  </div>
</div>

<style>
  .bar {
    width: 100%;
    height: 6px;
    background-color: var(--shade-bg);
    border-radius: 3px;
  }
  .bar > div {
    background-color: var(--primary);
    height: 100%;
    border-radius: 3px;
  }
  .card {
    min-width: 300px;
  }
</style>
